# Compiled class files
*.class

# Log files
*.log

# Gradle files
.gradle/
build/

# Ignore everything except:
!src/
!test/
!*.java
!*.gradle
!gradle/
!gradlew
!gradlew.bat

**/.gradle
**/.exercism
**/HELP.md
**/README.md
**/.DS_Store

